* {
    font-family: "Poppins";
}

.imagedisplay {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.imageoverlay {
    background: rgba(0, 0, 0, 0.6);
    height: 0;
    opacity: 0;
    transition: .2s;
}

.imagedisplay:hover .imageoverlay {
    height: 100%;
    opacity: 1;
}

.right ul li {
    list-style: none;
    text-align: end;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    gap: 0 !important;
}